---
import Layout from '../layouts/Layout.astro';
import CreateForm from '../components/CreateForm';
import { COPY } from '../lib/copy';
export const prerender = false;
---
<Layout>
  <h1>{COPY.heroTitle}</h1>
  <p class="sub">{COPY.heroBody}</p>
  <CreateForm client:load />
</Layout>
